*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

header{
    color: white;
    padding: 10px;
    text-align: center;
    background-color: #06e1ec;
}

.container{
    max-width: 1000px;
    margin: auto;
}

.tittle{
    font-size: 26px;
}

section{
    padding: 20px;
    background-size:cover;
    overflow: hidden;
    background-image: url('../img/people.jpg');
}

.containerform{
    max-width: 230px;
    background-color: #ffffffBB;
    padding: 20px;
    float: right;
}

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

input,select{
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #06e1ec;
    font-weight: bold;
}

select{
    -ms-progress-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background-image: url('../img/arrow.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}